/*FONT IMPORT*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*CSS RESET STYLES*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

* {
    box-sizing: border-box;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

a {
    text-decoration: none;
}

body {
	line-height: 1;
    font-size: 15px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS VARIABLES  */


:root{
    --primary-color:#000000;
    --secondary-color: #726E6E;
    --third-color: #F4F4F4;
    --white-color: #FFFFFF;

    --primary-font:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --secondary-font: 'Montserrat', sans-serif;

}

/* DEFAULT STYLES */
.container {
    width: 95%;
    margin: 0 auto;
    display: flex;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--white-color);
    width: 300px;
    height: 50px;
    cursor: pointer;
}

[class*="col-"] {
    width: 100%;
}

/* CSS HEADER STYLES */
#header {
    margin: 3rem 0;
}

#header .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}


#header .logo {
   color: var(--primary-color);
   font-size: 30px;
   text-align: center;
   margin-bottom: 25px;
   font-family: var(--primary-font);
}

.nav {
    display: flex;
    justify-content: center;
}

.nav ul {
    display: flex;
    justify-content: center;
}

.nav ul li {
    padding: 0 0.3rem;
}

.nav a {
    color: var(--primary-color); 
}

/* HERO STYLES */
#hero {
    margin: 8rem 0;
}
#hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    text-align: center;
}

.hero-head > * {
    margin: 1rem 0;
}

#hero .container .hero-head h1 {
font-family: var(--primary-font);
font-size: 50px;
}

#hero .container .hero-head p {
    font-family: var(--secondary-font);
    font-size: 17px;
}

#hero .container .img-container img {
    margin-top: 7rem;
    width: 100%;
    height: auto;
}

/* INFORMATION STYLES */
.information {
    display: flex;
    align-items: center;
    background: var(--third-color);
    height: 265px;
    margin: 8rem 0;
}

.information .container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.information .container > * {
    margin: 0.6rem 0;
}

.information .container h2 {
    font-weight: 600;
    font-size: 30px;
}

.information .container p {
    font-family: var(--secondary-font);
    font-size: 15px;
}

/* PRESENTATION STYLES */

.presentation .container {
    display: flex;
    flex-direction: column;
}

.presentation .container .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0;
}

.presentation .container .row .top-img-container {
    display: flex;
    align-items: flex-end;
}

.presentation .container .row .top-img-container .img-container img {
   width: 100%;
   height: auto;
}

.presentation-txt {
    text-align: left;
    margin: 3rem 0;
}

.presentation-txt:nth-child(2) {
    text-align: right;
}

.presentation-txt h3 {
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 27px;
}

.presentation-txt p {
    font-family: var(--secondary-font);
    font-size: 15px;
    margin: 1rem 0;
}

/* FOOTER STYLES */

footer {
    background: var(--third-color);
    height: 220px;
}

footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 220px;
}

.footer-header {
    margin-bottom: -90px;
}

.footer-header h1 {
    font-family: var(--primary-font);
    font-size:30px;
    letter-spacing: 0.5rem;
}

.footer-row {
    display: flex;
    font-family: var(--secondary-font);
    width: 60%;
    text-align: center;
    margin-top: 8rem;
}





/* MEDIA QUERIES */

@media screen and (max-width:576px) {
    .footer-row {
        width: 90%;
    }  
}

@media screen and (min-width: 768px) {
    .col-1-md {width: 8.33%;}
    .col-2-md {width: 16.66%;}
    .col-3-md {width: 25%;}
    .col-4-md {width: 33.33%;}
    .col-5-md {width: 41.66%;}
    .col-6-md {width: 50%;}
    .col-7-md {width: 58.33%;}
    .col-8-md {width: 66.66%;}
    .col-9-md {width: 75%;}
    .col-10-md {width: 83.33%;}
    .col-11-md {width: 91.66%;}
    .col-12-md {width: 100%;}

    /* HEADER NAV STYLES */

    #header .container {
        flex-direction: row;
    }
    
    #header .logo {
       font-size: 40px;
       text-align: center;
       margin-bottom: 0;
    }
    
    .nav {
        justify-content: flex-end;
    }

    .nav a {
        font-size: 18px;
    }

    /* HERO STYLES */
    #hero .container {
        flex-direction: row;
        text-align: left;
        align-items: flex-start;
    }
    
    .hero-head > * {
        margin: 1rem 0;
    }

    #hero .container .hero-head h1 {
    font-size: 65px;
    }

    .top-img-cont {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    #hero .container .hero-head p {
        font-size: 20px;
    }
    
    #hero .container .img-container img {
        margin-top: 0rem;
        border-radius: 7%;
    }
}

@media screen and (min-width: 992px) {
    .col-1-lg {width: 8.33%;}
    .col-2-lg {width: 16.66%;}
    .col-3-lg {width: 25%;}
    .col-4-lg {width: 33.33%;}
    .col-5-lg {width: 41.66%;}
    .col-6-lg {width: 50%;}
    .col-7-lg {width: 58.33%;}
    .col-8-lg {width: 66.66%;}
    .col-9-lg {width: 75%;}
    .col-10-lg {width: 83.33%;}
    .col-11-lg {width: 91.66%;}
    .col-12-lg {width: 100%;}
    .container {width: 80%;}

    /*HERO STYLE */
    .hero-head > * {
        margin: 3rem 0;
    }
     /* PRESENTATION STYLES */

     .presentation .container {
        align-items: center;
    }

    .presentation .container .row {
        flex-direction: row;
        justify-content: space-between;
    }

    .img-container {
        margin-right: 1rem;
    }

    .presentation-txt > * {
        margin:2rem 0;
    }

    .presentation-txt {
        width: 35%;
    }
    .presentation-txt h3 {
        font-size: 34px;
    }
    
    .presentation-txt p {
        font-size: 16.5px;
    }
}








